@font-face {
    font-family: "Norse bold";
    src: url("font/Norsebold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    --width: 1000px;

    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: var(--width);
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-author {
    position: absolute;
    top: 630px;
    left: 1200px;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
img {
    width: 100%;
}

.logo-container {
    width: var(--width);
    position: absolute;
    top: 300px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    font-family: "Norse bold", sans-serif;
    font-size: 110px;
}
.logo {
    width: 150px;
    vertical-align: middle;
    margin-right: 10px;
}